<amplify-authenticator></amplify-authenticator>

<br>
<br>
<br>

<button (click)="createTodo()">Add Todo</button>

<ul>
  <li *ngFor="let item of todos">{{ item.name }} - {{ item.description }}</li>
</ul>